html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-position: center;
    overflow-x: hidden;
    font-family: 'Lato','Century Gothic', sans-serif;
}

span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#outer_wrapper {
    background-color: White;
    height: 100%;
    width: 100%;
    position: relative;
}

.spacer {
    width: 100%;
    height: 1px;
}

#content {
    height: 100%;
    width: 100%;
    text-align: center;
}

#button_wrapper {
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}

    #button_wrapper img {
        width: 30px;
        height: 30px;
    }

#arrow1 {
    transform: rotate(-90deg);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

#arrow2 {
    float: right;
    margin-top: 25px;
}

#arrow3 {
    transform: rotate(90deg);
    margin-top: 70px;
}

#arrow4 {
    transform: rotate(180deg);
    float: left;
    margin-top: 25px;
}

#logo {
    margin-top: 7em;
    background-image: url("pictures/logo.jpg");
    height: 18em;
    width: 16em;
    background-repeat: no-repeat;
    -ms-background-size: cover;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

#continue {
    margin-top: 10em;
}

#textarea {
    display: inline-block;
    margin-left: 2em;
    margin-right: 2em;
}

#selection {
    height: 10em;
    width: 45em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}

#login {
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    margin-top: 2em;
    text-align: center;
    font-size: 1.3em;
    font-style: italic;
    color: grey;
}

.svg-wrapper {
    position: relative;
    width: 20em;
    height: 3.72em;
}

.shape {
    stroke-dasharray: 155 540;
    stroke-dashoffset: -465;
    stroke-width: 9px;
    fill: transparent;
    stroke: #E55C2A;
    transition: stroke-width 2s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.text {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 8px;
    color: #fff;
    top: -2.8em;
    position: relative;
    padding-bottom: .6em;
    padding-top: .6em;
    text-align: center;
}

.svg-wrapper:hover .shape {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
}

.button {
    border: 1px solid blue;
    height: 60px;
    width: 120px;
    border-radius: 10px;
    margin-bottom: 1em;
    float: left;
}
