html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-position: center;
    overflow-x: hidden;
    font-family: 'Lato','Century Gothic', sans-serif;
}

span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#outer_wrapper {
    background-color: White;
    height: 100%;
    width: 100%;
    position: relative;
}

.spacer {
    width: 100%;
    height: 1px;
}

#content {
    height: 100%;
    width: 100%;
}

#selection {
    height: 10em;
    width: 45em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15em;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    margin-top: 2em;
    text-align: center;
    font-size: 3.5em;
}

#login {
    float: left;
}

#signup {
    float: right;
}

.svg-wrapper {
    position: relative;
    width: 20em;
    height: 3.72em;
}

.shape {
    stroke-dasharray: 155 540;
    stroke-dashoffset: -465;
    stroke-width: 9px;
    fill: transparent;
    stroke: #E55C2A;
    transition: stroke-width 2s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.text {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 8px;
    color: #fff;
    top: -2.8em;
    position: relative;
    padding-bottom: .6em;
    padding-top: .6em;
    text-align: center;
}

.svg-wrapper:hover .shape {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
}
